header{
	background-color:orange;
	padding:1px;
	overflow:hidden;
}
header img{
	width:250px;
	height:280px;
	margin:20px;
	float:left;
	border:5px solid red;
}
header h1{
	font-size:2em;
	color:blue;
}





.navbar{
	background-color:pink;
	padding:1px;
	overflow:hidden;
	padding:0px;
	padding:10px 20px 10px 20px;
	border-style:solid;
    border-width:0px 10px 0px 10px;
    border-color:orange;
	
}
.navbar ul li a{
	font-size:2em;
	float:left;
	padding:10px 20px 10px 20px;
}
.navbar ul {
	list-style-type:none;
}
.navbar ul li a:link{
	color:green;
}
.navbar ul li a:hover{
	color:red;
	background-color:green;
}
.navbar ul li a:active{
	color:white;
	background-color:black;
}








section{
background-color:grey;
padding:1px;
overflow:hidden;
border-style:solid;
border-width:0px 10px 0px 10px;
border-color:orange;
}
section article img{
	width:250px;
	height:280px;
	margin:20px;
	float:left;
	border:5px solid red;
}
section article h3{
	font-size:1.5em;
}
section article h3 p{
	padding-left:20px;
	padding-right:20px;
}
section h1{
	text-align:center;
	color:red;
	
}





footer{
	background-color:orange;
	padding:1px;
}

