.register-div{
	
font-family:Arial;
background:Linear-gradient(45deg,blueviolet,deeppink);
width:300px;
color:white;
padding:20px;
margin:50px auto;
box-shadow:0  5px 10px black;
border-radius:10px;
}


.register-div h2{
	
	font-size:20px;
	text-align:center;
	
}

.form-group label{
	display:block;
	margin:10px 0;
	
}

.form-control{
	font-size:18px;
	height:35px;
	outline:none;
	border:none;
	width:280px;
	border-radius:10px;
}

.register-btn{
	margin:15px 0;
	background:linear-gradient(45deg,blueviolet,deeppink);
	color:white;
	font-size:18px;
	padding:10px 25px;
	width:280px;
	border:none;
	box-shadow:0  5px 10px black;
	
}

.icon{
	
font-size:80px;
display:block;
text-align:center;
border:10px solid deeppink;
width:80px;
height:80px;
border-radius:50%;
margin:auto;
margin-top:-50px;
background-color:white;
box-shadow:0  5px 10px black;
}

.form-control:focus{
	background-color:pink;
}