
#title{
  color:green;
  background-color: pink;
  text-align: center;
   margin:0px;
   padding:10px;
}

#navbar{
list-style-type:none;
background-color: orange;
margin:0px;
overflow:hidden;
}

#navbar li a{
  text-decoration: none;
  float:left;
  padding:10px 30px;
  text-align:center;
}

#navbar li a:hover{
  color:green;
  background-color: yellow;
 font-size: 1.5em;
}

#navbar li a:active{
  color:red;
  background-color: black;
}


#content{
  border: 2px orange solid;
  overflow:hidden;
  padding:20px;
}

#content h1{
  color:red;
  background-color: yellow;
  text-align: center;
}


#image{
  margin:20px;
  border:2px black solid;
  float:left;
}
